@{
    ViewBag.Title = "Test Page";
}

<div>Test</div>

<div class="print"></div>

@section scripts
{
    @Scripts.Render(" ~/Scripts/build/bundle.js")

    <script>
        require(["/Scripts/app/app.js"],
            function () {
            }
        );
    </script>

    <script>
        require(["/Scripts/reactApp/index.js"],
            function () {
            }
        );
    </script>


}